setuptools
Django>=5.2
CherryPy
social-auth-app-django>=5.8.0
django-auth-ldap; sys_platform != "win32"
pyscrypt
pyaes
openpyxl
sshtunnel
psycopg2-binary>=2.9.12
psycopg[binary]
RestrictedPython
oracledb
PyMySQL
sqlparse
pgspecial>=1.11.1
pyinstaller
