Django==4.2.27
CherryPy
social-auth-app-django==5.6.0
django-auth-ldap
pyscrypt
pyaes
openpyxl
sshtunnel
psycopg2-binary
RestrictedPython
cx_Oracle
PyMySQL
sqlparse
pgspecial==1.11.1
django-sass
pyinstaller
